<a data-pin-do="<%= type %>"
   href="<%= url %>"
   <% if (pinWidth) { %>data-pin-scale-width="<%= pinWidth %>"<% } %>
   <% if (pinWidth) { %>data-pin-scale-height="<%= height %>"<% } %>
   <% if (pinWidth) { %>data-pin-board-width="<%= width %>"<% } %>
></a>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>