<div class='angellist_embed' data-<%= type %>_id='<%= id %>'>
    <a href='https://angel.co/<%= slug %>?utm_medium=iframely&utm_campaign=individual_embed&utm_content=<%= id %>'></a>
</div>
<script type='text/javascript' src='https://angel.co/<%= slug %>/embed/angellist.js'></script>